html {
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    cursor: auto;
  }

  #moon {
    width: 100%;
  }

#index {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3631294/ProfileLongForm-01.jpg");
    object-fit: cover;
    width: 100%;
    background-size: cover;
    background-position: 300px;
    display: grid;
    grid-template-columns: 300px 1fr;
  }

body {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3631294/ProfileLongForm-01.jpg");
    object-fit: cover;
    width: 100%;
    background-size: cover;
    background-position: 300px;
    display: grid;
    grid-template-columns: 300px 1fr;
  }
  


body::after {
  content: "";
  background: #483E74;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#index::after {
  content: "";
  background: #483E74;
  opacity: 0;
}
  
  #content {
    padding-top: 24px;
    padding-right: 36px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  #logo {
    width: 180px;
    padding-top: 24px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
  }
  
  aside {
    width: 300px;
    background-color: #1B1026;
    background-size: 100vh;
    height: 100vh;
    color: #EFEFE8;
    filter: drop-shadow(3px 0px 5px #1B1026);
    grid-column: 1;
    position: fixed;
    text-transform: uppercase;
    font-size: 0.65em;
  }
  
  form {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #EFEFE8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    justify-content: flex-end;
    padding: 100px;
    z-index: 100;
    grid-column: 2;
  }

  label {
   padding-right: 20px;
   display: block;
   width: 300px;
  }
  button {
    background-color: #EFEFE8; 
    border: none;
    color: #1B1026;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 16px 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 0.65em;
    margin-left: 36px;
    letter-spacing: 0.25em;
    opacity: 0.8;
  }

  button:hover {
    color: #EFEFE8;
    background-color: #1B1026;
    cursor: pointer;
  }

  #portrait {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
    padding: 20px;
  }
  a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #EFEFE8;
    font-size: .75em;
    letter-spacing: 2px;
    padding-bottom: 10px;
    opacity: 0.75;
  }

  h3 {
    color: #EFEFE8;
    padding: 50px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    height: 20px;
    opacity: 0.8;
  }

  .title {
    width: 100%;
    grid-column: 2;
    z-index: 100;
  }

  h3:hover {
    opacity: 1;
  }
  .gallery {
    grid-column: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #EFEFE8;
  }

  .gallery img {
    padding: 40px;
    max-width: 300px;
    max-height: 300px;

  }

  #name {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  p {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 1.25em;
  }

  #about {
    width: 400px;
    padding: 100px;
    grid-template-columns: 2;
    margin-left: 300px;
  }

  #lost {
    font-family: "Raleway", sans-serif;
    color: #EFEFE8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  a:hover {
    opacity: 1;
    cursor: pointer;
  }

  a{
    cursor: url(#moon), default;
  
      }

