html {
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    cursor: auto;
  }

  #moon {
    width: 100%;
  }

#index {
    background-image: url("/ProfileLongForm-01.png");
    background-attachment: fixed;
    object-fit: cover;
    width: 100%;
    background-size: cover;
    background-position: 300px;
    display: grid;
    grid-template-columns: 300px 1fr;
  }

body {
    background-image: url("/ProfileLongForm-01.png");
    background-attachment: fixed;
    object-fit: cover;
    width: 100%;
    background-size: cover;
    background-position: 300px;
    display: grid;
    grid-template-columns: 300px 1fr;
  }
  


body::after {
  content: "";
  background: #483E74;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  position: fixed;
}

#index::after {
  content: "";
  background: #483E74;
  opacity: 0;
}
  
  #content {
    padding-top: 24px;
    padding-right: 36px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  #logo {
    width: 180px;
    padding-top: 24px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
  }
  
  aside {
    width: 300px;
    background-color: #1B1026;
    background-size: 100vh;
    height: 100vh;
    color: #EFEFE8;
    filter: drop-shadow(3px 0px 5px #1B1026);
    grid-column: 1;
    position: fixed;
    text-transform: uppercase;
    font-size: 0.65em;
  }
  
  form {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #EFEFE8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    justify-content: flex-end;
    margin: 100px;
    grid-column: 2;
  }

  label {
   margin-right: 20px;
   margin-bottom: 20px;
   display: block;
   width: 100%;
  }

  #input{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #1B1026;
    color: #EFEFE8;
    border: none;
  }
  textarea {
    border-radius: 10px;
    background-color: #1B1026;
    color: #EFEFE8;
    padding: 10px;
    height: 100px;
    width: 100%;
    border: none;
  }
  button {
    background-color: #EFEFE8; 
    border: none;
    color: #1B1026;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 16px 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 0.65em;
    margin-right: 36px;
    letter-spacing: 0.25em;
    opacity: 0.8;
  }

  button:hover {
    color: #EFEFE8;
    background-color: #1B1026;
    cursor: pointer;
  }

  .filters {
    margin-left: 36px;
  }

  #portrait {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
    padding: 20px;
  }
  a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #EFEFE8;
    font-size: .75em;
    letter-spacing: 2px;
    padding-bottom: 10px;
    opacity: 0.75;
  }

  h3 {
    color: #EFEFE8;
    padding: 50px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    height: 20px;
    opacity: 0.8;
  }

  .title {
    width: 100%;
    grid-column: 2;
    z-index: 100;
  }

  h3:hover {
    opacity: 1;
  }
  .gallery {
    grid-column: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #EFEFE8;
  }

  .gallery img {
    padding: 40px;
    max-width: 300px;
    max-height: 500px;

  }

  .lg-actions .lg-next, .lg-actions .lg-prev {
    background-color: rgba(72, 62, 116, 0.25);
  }

  .lg-toolbar.group {
    background-color: rgba(72, 62, 116, 0.25);
  }

  .lg-img-wrap {
    background-color:#1B1026;
  }

  .lg-counter {
    font-family: "Quicksand", sans-serif;
  }
  #name {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    letter-spacing: 0.6em;
    text-transform: uppercase;
  }
  p {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.75em;
    text-align: justify;
    text-justify: inter-ideograph;
    hyphens: manual;
    width: 400px;
  }

  #about {
    width: 400px;
    padding: 100px;
    grid-template-columns: 2;
    margin-left: 300px;
  }
#profile {
  background-image: url("/ProfileLongForm-01.png");
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 300px;
    position: absolute;
  z-index: 0;
  clip-path: circle(300px at 1000px 600px);
  }

  #lost {
    font-family: "Raleway", sans-serif;
    color: #EFEFE8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  a:hover {
    opacity: 1;
    cursor: pointer;
  }

  a{
    cursor: url(#moon), default;
  
      }

